# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.StacksAndQueues.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alessia\Desktop\CodeLab1_2021\adi7541-HW-Week9\StacksAndQueues\.idea\.idea.StacksAndQueues\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
